*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
i{
    cursor: pointer;
}
body{
  background:linear-gradient(to right
  ,rgb(157, 157, 220),rgb(216, 142, 142));
  font-family: 'DM Serif Display', serif;

}
.nav-design{
    background:linear-gradient(to right
    ,rgba(124, 124, 206, 0.783),rgb(172, 92, 92));
    font-family: 'Rubik', sans-serif;
}


/* this is for home and about  */

.fields{
    
    border-radius: 50px;
}
.fields:hover{
background-color: rgb(145, 145, 236);
}


.noteitem{
    /* color:white; */
    font-family: 'Rubik', sans-serif;
   background-color: whitesmoke
}
.date{
    font-size: smaller;
    color: rgb(220, 211, 211);
    }


    .aboutUs{
        background-color: aliceblue;
        padding: 20px;
        font-size: 2rem;
        font-family: 'Rubik', sans-serif;
    }
    .about-Book{
    
        font-size: 15rem;
    }